@model IEnumerable<ShahadatApp.Models.Talab>

@{
    ViewBag.Title = "تقرير الطلبات";

    int TalabatCounter = Model.Count();
    int CertificateCounter = Model.Where(t => t.ServiceType == "شهادة").Count();
    int CardCounter = Model.Where(t => t.ServiceType == "كارنيه").Count();
    int Twice = Model.Where(t => t.ServiceType == "شهادة و كارنيه").Count();
    int TmEbla8Daf3 = Model.Where(t => t.TalabStatus == "تم ابلاغه بالدفع").Count();
    int TmEbla8Fawry = Model.Where(t => t.TalabStatus == "تم ابلاغه فورى").Count();
    int TmDaf3 = Model.Where(t => t.TalabStatus == "تم الدفع").Count();
    int Canceled = Model.Where(t => t.TalabStatus == "الغاء الطلب").Count();
    int Negotiation = Model.Where(t => t.TalabStatus == "تفاوض").Count();
    var talabStatusList = Model.GroupBy(t => t.TalabStatus).ToList();
    int counter = 1;
}

<h2>تقرير طلبات الخدمات خلال الفترة</h2>
<hr />
<div class="text-center">
    @using (Html.BeginForm())
    {
        <p>
            من
            @Html.TextBox("FromDate", null, new { @class = "form-control rounded-pill", @type = "date", @style = "display:inline-block;" })
            إلى
            @Html.TextBox("ToDate", null, new { @class = "form-control rounded-pill", @type = "date", @style = "display:inline-block;" })

            <button type="submit" class="btn btn-primary col" value="Search">فلتر</button>
        </p>
    }
    <br />
</div>
<div class="row">
    <div class="col-7">
        <div class="card m-1">
            <div class="card-body">
                <h4 class="card-title text-center mb-4">إحصائيات الخدمات المقدمة خلال الفترة</h4>


                <div class="row align-items-center g-0 mt-3">
                    @{float percn = (float)(Math.Round((Convert.ToDouble(TmEbla8Daf3) / Convert.ToDouble(TalabatCounter)), 2) * 100); }
                    <div class="col-sm-3">
                        <p class="text-truncate mt-1 mb-0"><i class="mdi mdi-circle-medium text-primary me-2"></i> تم إبلاغه بالدفع </p>
                    </div>

                    <div class="col-sm-9">
                        <div class="progress mt-1" style="height: 6px;">
                            <div class="progress-bar progress-bar bg-primary" role="progressbar"
                                 style="width: @percn%">
                            </div>
                        </div>
                    </div>
                </div> <!-- end row-->

                <div class="row align-items-center g-0 mt-3">
                    @{ percn = (float)(Math.Round((Convert.ToDouble(TmEbla8Fawry) / Convert.ToDouble(TalabatCounter)), 2) * 100); }
                    <div class="col-sm-3">
                        <p class="text-truncate mt-1 mb-0"><i class="mdi mdi-circle-medium text-info me-2"></i> تم إبلاغه فورى </p>
                    </div>
                    <div class="col-sm-9">
                        <div class="progress mt-1" style="height: 6px;">
                            <div class="progress-bar progress-bar bg-info" role="progressbar"
                                 style="width: @percn%">
                            </div>
                        </div>
                    </div>
                </div> <!-- end row-->

                <div class="row align-items-center g-0 mt-3">
                    @{ percn = (float)(Math.Round((Convert.ToDouble(TmDaf3) / Convert.ToDouble(TalabatCounter)), 2) * 100); }
                    <div class="col-sm-3">
                        <p class="text-truncate mt-1 mb-0"><i class="mdi mdi-circle-medium text-success me-2"></i> تم الدفع </p>
                    </div>
                    <div class="col-sm-9">
                        <div class="progress mt-1" style="height: 6px;">
                            <div class="progress-bar progress-bar bg-success" role="progressbar"
                                 style="width: @percn%">
                            </div>
                        </div>
                    </div>
                </div> <!-- end row-->

                <div class="row align-items-center g-0 mt-3">
                    @{ percn = (float)(Math.Round((Convert.ToDouble(Canceled) / Convert.ToDouble(TalabatCounter)), 2) * 100); }
                    <div class="col-sm-3">
                        <p class="text-truncate mt-1 mb-0"><i class="mdi mdi-circle-medium text-warning me-2"></i> تم إلغاء الطلب </p>
                    </div>
                    <div class="col-sm-9">
                        <div class="progress mt-1" style="height: 6px;">
                            <div class="progress-bar progress-bar bg-warning" role="progressbar"
                                 style="width: @percn%">
                            </div>
                        </div>
                    </div>
                </div> <!-- end row-->

            </div> <!-- end card-body-->
        </div> <!-- end card-->
        <div class="row">
            <div class="card bg-danger text-white col m-1">
                <div class="card-body">
                    <h2>
                        @Model.Where(t => t.TalabStatus == "تم الدفع" && (t.ServiceType == "شهادة" && string.IsNullOrEmpty(t.ServicePostion) ||
            (t.ServiceType == "كارنيه" && string.IsNullOrEmpty(t.CardServicePostion)) ||
            (t.ServiceType == "شهادة و كارنيه" && (string.IsNullOrEmpty(t.ServicePostion) || string.IsNullOrEmpty(t.CardServicePostion))))).Count()
                    </h2>
                    <p>طلبات ليس لها موقف</p>
                </div>
            </div>
            <div class="card bg-warning col m-1">
                <div class="card-body">
                    <h2>
                        @Model.Where(t => t.TalabStatus == "تم الدفع" && t.Citizen.MorfkatRecieved == false && !string.IsNullOrEmpty(t.ServiceType) && t.ServiceType.Contains("كارنيه")).Count()
                    </h2>
                    <p>طلبات بدون مرفقات</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="card bg-dark text-white m-1">
                <div class="card-body">
                    <div>
                        <h4 class="mb-1 mt-1"><span data-plugin="counterup">@TalabatCounter</span></h4>
                        <p class="mb-0">إجمالى الطلبات</p>
                    </div>
                </div>
            </div>

            <div class="card m-1">
                <div class="card-body">
                    <div>
                        @{ percn = (float)(Math.Round((Convert.ToDouble(CertificateCounter) / Convert.ToDouble(TalabatCounter)), 2) * 100); }
                        <h4 class="mb-1 mt-1" style="display:inline-block">
                            <span data-plugin="counterup">
                                @CertificateCounter
                            </span>
                        </h4>
                        <p class="text-muted mb-0" style="display:inline-block">شهادة</p>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar bg-success" id="cerProgress" style="width:0%">@percn</div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        @{ percn = (float)(Math.Round((Convert.ToDouble(CardCounter) / Convert.ToDouble(TalabatCounter)), 2) * 100); }
                        <div>
                            <h4 class="mb-1 mt-1" style="display:inline-block">
                                <span data-plugin="counterup">
                                    @CardCounter
                                </span>
                            </h4>
                            <p class="text-muted mb-0" style="display:inline-block">كارنيه</p>
                        </div>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar bg-danger" id="cardProgress" style="width:0%">@percn</div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        @{ percn = (float)(Math.Round((Convert.ToDouble(Twice) / Convert.ToDouble(TalabatCounter)), 2) * 100); }
                        <div>
                            <h4 class="mb-1 mt-1" style="display:inline-block">
                                <span data-plugin="counterup">
                                    @Twice
                                </span>
                            </h4>
                            <p class="text-muted mb-0" style="display:inline-block">شهادة و كارنيه</p>
                        </div>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar bg-primary" id="twiceProgress" style ="width:0%">@percn</div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        @{ percn = (float)(Math.Round((Convert.ToDouble(Model.Where(t => string.IsNullOrEmpty(t.ServiceType)).Count()) / Convert.ToDouble(TalabatCounter)), 2) * 100); }
                        <div>
                            <h4 class="mb-1 mt-1" style="display:inline-block">
                                <span data-plugin="counterup">
                                    @Model.Where(t => string.IsNullOrEmpty(t.ServiceType)).Count()
                                </span>
                            </h4>
                            <p class="text-muted mb-0" style="display:inline-block">نوع غير محدد</p>
                        </div>
                    </div>
                    <div>
                        <div class="progress">
                            <div class="progress-bar bg-primary" style="width:@percn%"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br />
<div class="accordion accordion-flush" id="accordionFlushExample">
    <h3>تفاصيل الخدمات</h3>
    <div class="accordion-item">
        @foreach (var status in talabStatusList)
        {
            var talabatStats = Model.Where(t => t.Citizen.Area != null && t.TalabStatus == status.Key).GroupBy(t => t.Citizen.Area.Mntqa).Select(t => new { t.Key, counter = t.Count() }).ToList();

            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#col_@counter" aria-expanded="true" aria-controls="flush-collapseOne">
                    @status.Key (@talabatStats.Sum(t => t.counter))
                </button>
            </h2>
            <div id="col_@counter" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <table class="table">
                        <thead>
                            <tr>
                                @foreach (var area in talabatStats.OrderBy(t => t.Key))
                                {
                                    <th>@area.Key</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var count in talabatStats.OrderBy(t => t.Key))
                                {
                                    <td>@count.counter</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr />
            </div>
            counter++;
            
        }
    </div>


    @*<div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                تم إبلاغه بالدفع (@TmEbla8Daf3)
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">


                <table class="table">
                    <tr>
                        <th>القاهرة</th>
                        <th>الجيزة</th>
                        <th>الأسكندرية</th>
                        <th>الزقازيق</th>
                        <th>أسيوط</th>
                        <th>طنطا</th>
                        <th>قنا</th>
                        <th>المنصورة</th>
                        <th>المنيا</th>
                    </tr>
                    <tr>
                        <td>@ViewData["TmEbla8Cairo"]</td>
                        <td>@ViewData["TmEbla8Giza"]</td>
                        <td>@ViewData["TmEbla8Alex"]</td>
                        <td>@ViewData["TmEbla8Zag"]</td>
                        <td>@ViewData["TmEbla8Asuit"]</td>
                        <td>@ViewData["TmEbla8Tanta"]</td>
                        <td>@ViewData["TmEbla8Qena"]</td>
                        <td>@ViewData["TmEbla8Mans"]</td>
                        <td>@ViewData["TmEbla8Menia"]</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                تم إبلاغه فورى (@TmEbla8Fawry)
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table class="table">
                    <tr>
                        <th>القاهرة</th>
                        <th>الجيزة</th>
                        <th>الأسكندرية</th>
                        <th>الزقازيق</th>
                        <th>أسيوط</th>
                        <th>طنطا</th>
                        <th>قنا</th>
                        <th>المنصورة</th>
                        <th>المنيا</th>
                    </tr>
                    <tr>
                        <td>@ViewData["TmEbla8FawryCairo"]</td>
                        <td>@ViewData["TmEbla8FawryGiza"]</td>
                        <td>@ViewData["TmEbla8FawryAlex"]</td>
                        <td>@ViewData["TmEbla8FawryZag"]</td>
                        <td>@ViewData["TmEbla8FawryAsuit"]</td>
                        <td>@ViewData["TmEbla8FawryTanta"]</td>
                        <td>@ViewData["TmEbla8FawryQena"]</td>
                        <td>@ViewData["TmEbla8FawryMans"]</td>
                        <td>@ViewData["TmEbla8FawryMenia"]</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseOne">
                تم الدفع (@TmDaf3)
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-collapseThree" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table class="table">
                    <tr>
                        <th>القاهرة</th>
                        <th>الجيزة</th>
                        <th>الأسكندرية</th>
                        <th>الزقازيق</th>
                        <th>أسيوط</th>
                        <th>طنطا</th>
                        <th>قنا</th>
                        <th>المنصورة</th>
                        <th>المنيا</th>
                    </tr>
                    <tr>
                        <td>@ViewData["TmDaf3Cairo"]</td>
                        <td>@ViewData["TmDaf3Giza"]</td>
                        <td>@ViewData["TmDaf3Alex"]</td>
                        <td>@ViewData["TmDaf3Zag"]</td>
                        <td>@ViewData["TmDaf3Asuit"]</td>
                        <td>@ViewData["TmDaf3Tanta"]</td>
                        <td>@ViewData["TmDaf3Qena"]</td>
                        <td>@ViewData["TmDaf3Mans"]</td>
                        <td>@ViewData["TmDaf3Meina"]</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                تم الغاء الطلب (@Canceled)
            </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-collapseFour" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <table class="table">
                    <tr>
                        <th>القاهرة</th>
                        <th>الجيزة</th>
                        <th>الأسكندرية</th>
                        <th>الزقازيق</th>
                        <th>أسيوط</th>
                        <th>طنطا</th>
                        <th>قنا</th>
                        <th>المنصورة</th>
                        <th>المنيا</th>
                    </tr>
                    <tr>
                        <td>@ViewData["CanceledCairo"]</td>
                        <td>@ViewData["CanceledGiza"]</td>
                        <td>@ViewData["CanceledAlex"]</td>
                        <td>@ViewData["CanceledZag"]</td>
                        <td>@ViewData["CanceledAsuit"]</td>
                        <td>@ViewData["CanceledTanta"]</td>
                        <td>@ViewData["CanceledQena"]</td>
                        <td>@ViewData["CanceledMans"]</td>
                        <td>@ViewData["CanceledMeina"]</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>*@
</div>
<script>
    async function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }
    $(document).ready(async() => {


        var certificProgress = document.getElementById("cerProgress");
        var cardProgress = document.getElementById("cardProgress");
        var twiceProgress = document.getElementById("twiceProgress");
        var maxCerProg = Number(certificProgress.innerText), maxCardProg = Number(cardProgress.innerText), maxTwiceProg = Number(twiceProgress.innerText)
        certificProgress.innerHTML = '' , cardProgress.innerHTML = '' , twiceProgress.innerHTML = '';
        
        var prog1 = setInterval(() => { scene(0, certificProgress, maxCerProg, prog1) }, 30);
        var prog2 = setInterval(() => { scene(0, cardProgress, maxCardProg, prog2) }, 30);
        var prog3 = setInterval(() => { scene(0, twiceProgress, maxTwiceProg, prog3) }, 30);

        async function scene(itter, element, max, identity) {
            if (itter >= max) {
                clearInterval(identity);
            } else {
                element.style.width = itter + '%';
                element.innerHTML = itter * 1 + '%';
                itter++;
            	    
            }
            scene(itter, element, max, identity)
            await sleep(1000);
            
        }
        //var prog2 = await setInterval(await scene(1, cardProgress, maxCardProg, prog2), 30);
        //var prog3 = await setInterval(await scene(1, twiceProgress, maxTwiceProg, prog3), 30);
        
        
       

    });
</script>